@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", system-ui;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", system-ui;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  background: #080d13;
  height: 8rem;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

.btn {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn1 {
  cursor: pointer;
  padding: 10px;
  width: 9rem;
  background: white;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn2 {
  cursor: pointer;
  padding: 10px;
  width: 9rem;
  color: white;
  background: none;
  border: 2px solid white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn1:hover {
  background: #dab612;
  border: 2px solid #dab612;
  color: white;
}

.btn2:hover {
  background: #dab612;
  border: 2px solid #dab612;
  color: white;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover {
  color: #f1e408;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1e408;
}

.nav-logo {
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-logo img {
  height: 7rem;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*End of Header*/

/*Beginning of Main Background*/
.main-bg {
  height: 80rem;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
}
.main-bg img {
  object-fit: cover;
  width: 100%;
}

.bg-Content {
  position: absolute;
  top: 33rem;
  width: 100%;
}

.bg-h1 {
  font-size: 7rem;
  padding-left: 70px;
  color: white;
}

.search-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-break {
  display: flex;
  gap: 5rem;
}

.display-box h2 {
  color: white;
  padding-bottom: 10px;
  font-size: 2rem;
}

.search-box {
  padding-top: 20px;
  display: flex;
  gap: 5rem;
}

.options {
  padding: 10px;
  width: 20rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: black;
}

.find-Btn {
  padding: 12px;
  margin-top: 50px;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: black;
}

/*End of Main Background*/

/*Start of General-Content*/
.general-Content {
  height: 62rem;
  background: rgb(228, 228, 228);
  width: 100%;
}

.g-h1 {
  padding: 40px;
  font-size: 4rem;
}

.g-Content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.g-image img {
  height: 45rem;
  width: 90rem;
  object-fit: cover;
  border-radius: 3rem;
  box-shadow: 1px 1px 10px 1px #080d131d;
}
.g-Flex {
  height: 45rem;
  width: 25%;
  background: white;
  border-radius: 3rem;
  box-shadow: 1px 1px 10px 1px #080d131d;
}

.g-box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.g-box1 p {
  font-size: 1.5rem;
  font-weight: 500;
}
.g-box1 i {
  font-size: 2.4rem;
}
.g-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.details {
  font-size: 1.3rem;
}
.details h3 {
  font-size: 2.3rem;
}
.g-box3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.g-box3 h3 {
  font-size: 2rem;
}
.split {
  border: 1px solid black;
  padding: 8px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.split i {
  padding-left: 3px;
  font-weight: bold;
}
.split:hover {
  background: #dab612;
}

.g-box4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.agent {
  display: block;
}
.agent img {
  height: 5rem;
  border-radius: 50px;
}
.agent p {
  font-weight: 500;
  font-size: 1.5rem;
}
.agent h4 {
  font-size: 1rem;
}
.cBtn {
  color: black;
  border: 1px solid black;
  padding: 8px;
  width: 11rem;
  margin-top: 50px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.cBtn:hover {
  background: #dab612;
}
.g-box5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}
.reqTour {
  color: black;
  padding: 12px;
  width: 98%;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.reqTour:hover {
  background: #dab612;
}

/*End of General-Content*/

/* Start of search-More*/
.search-More {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 228, 228);
  padding-bottom: 20px;
}

.moreBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  background: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 3rem;
  box-shadow: 1px 1px 10px 1px #080d131d;
}

.moreGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding-left: 20px;
}
.moreGroup1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding-right: 20px;
}
.loc {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  border: 1px solid #080d13;
  padding: 6px;
  width: 19rem;
  border-radius: 20px;
}
.loc i {
  font-size: 1.8rem;
}
.locBox {
  font-size: 1.2rem;
}
.more {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border: 1px solid #080d13;
  padding: 12px;
  width: 11rem;
  border-radius: 20px;
}
.more i {
  font-size: 2rem;
}
.moreSearch {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.moreSearch button {
  border: 1px solid #080d13;
  padding: 15px;
  width: 17rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  background: black;
  color: white;
}

.moreSearch button:hover {
  background: #dab612;
  color: #080d13;
}

/* End of search-More*/

/*Start of lastest*/
.lastest {
  height: 56rem;
  width: 100%;
  background: white;
}

.lastest-text {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastest-text h1 {
  font-size: 4rem;
}
.btn-views {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #080d13;
  padding: 10px;
  width: 15rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}
.btn-views:hover {
  gap: 2rem;
  background: #dab612;
}

/*End of lastest*/

/*Start of home-List*/
.home-List {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 40rem;
}
.home {
  border-radius: 20px;
  height: 40rem;
  width: 35rem;
  background: white;
  box-shadow: 1px 2px 10px 2px #53535349;
  padding-bottom: 20px;
}
.home img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 20px;
}
.home h3 {
  font-size: 1.4rem;
  padding: 4px;
  padding-left: 20px;
}
.home p {
  padding-left: 20px;
  font-size: 1.3rem;
  padding-bottom: 1px;
}

.it {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.it p {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2rem;
}

.home1 {
  border-radius: 20px;
  height: 40rem;
  width: 52rem;
  background: white;
  box-shadow: 1px 2px 10px 2px #53535349;
  padding-bottom: 20px;
}
.home1 img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 20px;
}
.home1 h3 {
  font-size: 1.4rem;
  padding: 4px;
  padding-left: 20px;
}
.home1 p {
  padding-left: 20px;
  font-size: 1.3rem;
  padding-bottom: 1px;
}

/*End of home-List*/

.agentContent {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin-top: 5rem;
  background: rgb(228, 228, 228);
  width: 100%;
  height: 35rem;
}
.agentBox {
  border-radius: 20px;
  width: 25rem;
  height: 25rem;
  background: white;
  box-shadow: 1px 1px 10px 1px #080d131d;
}
.agentBox h1 {
  font-size: 4rem;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.agentBox p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.topAgents {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  width: 84%;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #080d13;
}
.topAgents:hover {
  background: #dab612;
}
.topAgents i {
  padding-left: 10px;
}
.agentGroup {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.agentBox1 {
  width: 20rem;
  height: 22rem;
  background: white;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 10px 1px #080d131d;
}
.item1 {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item1 img {
  height: 7rem;
  padding: 10px;
  border-radius: 50px;
}
.item1 p {
  font-size: 13px;
  font-weight: bold;
}
.item1 i {
  color: #fab600;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 10px;
}
.agentBox1 h3 {
  padding-left: 10px;
  font-size: 19px;
  padding-bottom: 8px;
}
.agentBox1 p {
  padding-left: 10px;
  font-size: 12px;
  padding-bottom: 22px;
}
.item2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 button {
  color: black;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  width: 15rem;
  border-radius: 20px;
  border: 1px solid black;
}
.item2 button:hover {
  background: #dab612;
}
/*End of Agent Section*/

/*Start of interest*/
.interestText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  padding-left: 40px;
}
.interestText h1 {
  font-size: 4rem;
}
.InBtn {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  width: 15rem;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #080d13;
}
.InBtn i {
  padding-left: 10px;
}
.InBtn:hover {
  background: #dab612;
}
.interestBox {
  border-radius: 20px;
  height: 40rem;
  width: 60rem;
  background: white;
  box-shadow: 1px 2px 10px 2px #53535349;
  padding-bottom: 20px;
}
.interestBox img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 20px;
}
.interestBox h3 {
  font-size: 1.4rem;
  padding: 4px;
  padding-left: 20px;
}
.interestBox p {
  padding-left: 20px;
  font-size: 1.3rem;
  padding-bottom: 1px;
}
.interestGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 4.5rem;
}
.interestGroup1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  gap: 2rem;
}

.interestBox1 {
  border-radius: 20px;
  height: 40rem;
  width: 35rem;
  background: white;
  box-shadow: 1px 2px 10px 2px #53535349;
  padding-bottom: 20px;
}
.interestBox1 img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 20px;
}
.interestBox1 h3 {
  font-size: 1.4rem;
  padding: 4px;
  padding-left: 20px;
}
.interestBox1 p {
  padding-left: 20px;
  font-size: 1.3rem;
  padding-bottom: 1px;
}
.interestGroup2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  gap: 2rem;
  padding-bottom: 4rem;
}
/*End of interest*/

/*Start of emailContent*/
.emailContent {
  height: 50rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(228, 228, 228);
  width: 100%;
}
.emailBox {
  background-image: url(/images/email.jpg);
  background-repeat: none;
  background-position: top;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 20px;
  background-attachment: fixed;
  background-size: cover;
  width: 90%;
  height: 40rem;
}
.emailBox img {
  object-fit: cover;
  width: 100%;
  height: 40rem;
  border-radius: 20px;
}
.emailText {
  width: 100%;
}
.emailText h1 {
  text-align: center;
  font-size: 5rem;
  color: white;
  align-items: center;
  padding-top: 50px;
}
.emailText p {
  padding-top: 20px;
  font-size: 1.7rem;
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
.submitBtn {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.submitBtn input {
  padding: 12px;
  width: 30rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.585);
}
.submitBtn button {
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  width: 17rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.585);
}
.submitBtn button:hover {
  background: #dab612;
}
/*End of emailContent*/

/*Start of footer*/
.footer {
  width: 100%;
  height: 50rem;
  background: white;
}
.footerSec1 {
  height: 46rem;
  background: #080d13;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
}
.footerSec1 img {
  height: 10rem;
}
.footUl p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(170, 170, 170);
}
.footUl li {
  font-size: 1.7rem;
  padding-top: 10px;
}
.footerSec2 {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.footerSec2 h3 {
  font-size: 1.3rem;
}
.socials {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}
.socials i {
  font-size: 15px;
}
/*End of footer*/

/*Screen Flexibility*/
@media only screen and (max-width: 1024px) {
  .bg-Content {
    top: 23rem;
  }
  .bg-h1 {
    font-size: 6rem;
    padding-left: 25px;
  }
  .options {
    padding: 10px;
    width: 15rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .display-box h2 {
    color: white;
    font-size: 1.5rem;
  }
  .find-Btn {
    font-size: 1.3rem;
  }
  .g-Content {
    gap: 2.5rem;
  }
  .g-image img {
    width: 100%;
  }
  .loc {
    width: 90%;
  }
  .moreGroup {
    padding-right: 20px;
  }
  .moreBox {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .lastest {
    height: 100%;
  }
  .lastest-text h1 {
    font-size: 3.5rem;
  }
  .btn-views {
    width: 40%;
  }
  .home-List {
    gap: 2rem;
    height: 100%;
  }
  .agentContent {
    display: block;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .agentGroup {
    justify-content: space-between;
    padding-bottom: 40px;
    justify-content: space-around;
  }
  .agentBox {
    width: 58%;
  }
  .agentBox1 {
    width: 27%;
  }
  .emailText h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7.8rem;
    flex-direction: column;
    background: #080d13;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .btn1 {
    display: none;
  }
  .btn2 {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .main-bg img {
    justify-content: left;
  }
  .search-box {
    display: block;
    gap: 1rem;
  }
  .search-break {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
  }
  .options {
    width: 20rem;
  }
  .find-Btn {
    width: 17rem;
  }
  .g-image {
    padding-left: 20px;
    width: 100%;
  }
  .g-Flex {
    margin-right: 20px;
  }
  .g-box3 {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 0.5rem;
    display: block;
  }
  .g-box2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .g-box4 {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .g-h1 {
    font-size: 3rem;
  }
  .moreBox {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
  .moreGroup {
    padding-bottom: 20px;
  }
  .moreGroup1 {
    padding-left: 20px;
  }
  .lastest-text h1 {
    font-size: 3rem;
  }
  .home-List {
    display: block;
    height: 100%;
  }
  .home,
  .home1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .interestText h1 {
    font-size: 3rem;
  }
  .interestGroup1 {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .interestBox {
    width: 100%;
    margin-bottom: 30px;
  }
  .interestBox1 {
    margin-bottom: 30px;
    width: 100%;
  }
  .interestGroup2 {
    display: block;
  }
  .footerSec1 img {
    height: 8rem;
  }
}
@media only screen and (max-width: 640px) {
  .general-Content {
    height: 100%;
    padding-bottom: 20px;
  }
  .g-Content {
    display: block;
  }
  .g-image {
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .g-Flex {
    margin-left: 20px;
    width: 92%;
  }
  .lastest {
    padding-bottom: 20px;
  }
  .lastest-text h1 {
    font-size: 2.5rem;
  }
  .home-List {
    height: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .home,
  .home1 {
    margin-bottom: 20px;
    width: 100%;
  }
  .InBtn {
    width: 20%;
  }
  .interestGroup {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .interestBox {
    width: 100%;
    margin-bottom: 30px;
  }
  .interestGroup2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
  }
  .emailText h1 {
    font-size: 4rem;
  }
  .footerSec1 img {
    height: 7rem;
  }
  .footUl li {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 470px) {
  .bg-Content {
    top: 15rem;
  }

  .bg {
    height: 100%;
  }

  .main-bg img {
    width: 100%;
    height: 80rem;
  }
  .bg-h1 {
    padding-top: 0px;
    text-align: center;
    font-size: 4rem;
    padding-left: 0px;
  }
  .search-display {
    display: block;
    padding-left: 50px;
  }
  .search-break {
    display: block;
    gap: 2rem;
    padding-bottom: 1rem;
  }
  .options {
    width: 85%;
  }
  .find-Btn {
    background: white;
    width: 70%;
    margin-left: 30px;
  }
  .main-bg img {
    height: 140vh;
  }
  .moreGroup {
    display: block;
  }
  .moreGroup1 {
    display: block;
  }
  .loc {
    margin-bottom: 20px;
    width: 100%;
  }
  .more {
    margin-bottom: 20px;
    width: 100%;
  }
  .moreSearch button {
    width: 80%;
  }
  .lastest {
    height: 100%;
  }
  .lastest-text h1 {
    font-size: 2rem;
  }
  .agentGroup {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .agentBox1,
  .agentBox {
    width: 100%;
    margin-bottom: 20px;
  }
  .item1 {
    padding-bottom: 20px;
  }
  .it {
    gap: 1.2rem;
  }
  .bg-Content {
    margin-right: 20px;
  }
  .agentGroup {
    padding-bottom: 0px;
  }
  .item2 button {
    margin-bottom: 50px;
  }
  .InBtn {
    width: 30%;
  }
  .interestText h1 {
    font-size: 1.8rem;
    padding-left: 0px;
    padding: 0px;
  }
  .emailText h1 {
    font-size: 2.5rem;
  }
  .emailText p {
    font-size: 1.5rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .submitBtn {
    display: block;
  }
  .submitBtn input {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .submitBtn button {
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
  }
  .footerSec1 {
    display: block;
    height: 180%;
    padding-left: 30px;
  }
  .footerSec1 img {
    text-align: center;
    margin-top: 20px;
  }
  .footUl p {
    text-align: left;
  }
}
